@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  -default-font-family: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--default-font-family), sans-serif;
}

@layer utilities {
  .navbar-link {
    @apply text-zinc-400 hover:text-zinc-800 transition-colors;
  }
}
